body {
	display: flex;
	background-color: #F8F0FB;
}

#main-content {
	margin-top: 100px;
	background-color: rgba(80, 81, 104, 0.2);
	padding: 20px;
	border-radius: 1%;
	width: 70%;
}


button {
	background-color: #6320EE;
}

.balance-item {
	font-size: 18px;
	margin-bottom: 10px;
	color: #211A1D;
}

.section-title {
	color: #505168;
	margin-bottom: 20px;
}

.sidebar-nav {
	list-style: none;
	position: absolute;
	left: 0px;
	background-color: #211A1D;
	height: 100vh;
	width: 200px;
	padding-top: 100px;
}

.btn-primary {
	background-color: #27233A;
}



.sidebar-nav > li > a {
	color: #F8F0FB;
	font-size: 25px;
	margin-bottom: 30px;
}