{% extends 'template_base.html' %}

{% block content %}
		{% if not user.is_authenticated %}
		<h1 class="section-title">Log in</h1>
		<form method="post" action="{% url 'login' %}">
				{% csrf_token %}
				<table>
					<tr>
						<td>{{ form.username.label_tag }}</td>
						<td>{{ form.username }}</td>
					</tr>
					<tr>
						<td>{{ form.password.label_tag }}</td>
						<td>{{ form.password }}</td>
					</tr>
				</table>
				<input class="btn btn-primary" type="submit" value="login" />
			</form>
			<a href="/atm/register"><button style="margin-top: 10px;" class="btn btn-primary">Create new account</button></a>
		{% else %}
		<h1 class="section-title">Already logged in</h1>
		{% endif %}				
{% endblock %}